/* Navigation */
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr ); 
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media(max-width: 600px) {
/* Stack Grid Items */
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-container > *:last-child {
    grid-column: 1 ;
  }

  #main-footer .footer-container > * {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  #main-footer .footer-container .list,
  #main-footer .footer-container .footer-center {
    text-align: center;
  }
  #main-footer .footer-container .list >li {
    margin: auto;
  }
  
  #main-footer .footer-container .footer-center .list li:last-child  {
    border-bottom: none;
    margin-bottom: 0;
  } 

  .footer-center > h3  {
    display: none;
  }

  #main-footer .footer-container > *:last-child,
  #main-footer .footer-container > *:nth-child(3),
  #main-footer .footer-container > *:nth-child(4) {
    border: none;
  }

  /* Stack About Page */
 .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* .page-container > *:first-child {
    grid-row: 1 ;
  } */
}